body{
    padding: 0;
    margin: 0;
    background: #333;
}

#map-wrapper {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#mapid {
    height: 100%;
    width: 100%;
    top: 0;
    position: relative;
}

/*Cambiar icono del menu de control*/
/*
.leaflet-top.leaflet-right .leaflet-control-layers:nth-child(3) .leaflet-control-layers-toggle {
    background-image: url(https://png.pngtree.com/png-vector/20190129/ourlarge/pngtree-info-vector-icon-png-image_355800.jpg);
    background-size: cover;
    width: 36px;
    height: 36px;
}
*/
.leaflet-top.leaflet-right .leaflet-control-layers:nth-child(2) .leaflet-control-layers-toggle {
    background-image: url(https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/512x512/satellite.png);
    background-size: cover;
    width: 36px;
    height: 36px;
}
/*
.legend{
  position: absolute;
  right : 0px;
  top : 80%;
}
.legend img{
  position: relative;
  top:50%;
  z-index: 650;
}
*/